percy.ren {
  encode zstd gzip
  reverse_proxy percy-site-prod-web-1:3000
}

admin.percy.ren {
  encode zstd gzip
  reverse_proxy percy-site-prod-admin-1:3000
}

{$WEB_DOMAIN} {
  encode zstd gzip
  reverse_proxy web:3000
}

{$ADMIN_DOMAIN} {
  encode zstd gzip
  reverse_proxy admin:3000
}
