percy.ren {
  encode zstd gzip
  reverse_proxy percy-web:3000
}

admin.percy.ren {
  encode zstd gzip
  reverse_proxy percy-admin:3000
}

{$WEB_DOMAIN} {
  encode zstd gzip
  reverse_proxy mianshitong-web:3000
}

{$ADMIN_DOMAIN} {
  encode zstd gzip
  reverse_proxy mianshitong-admin:3000
}
